name:  Build and push Docker image on commit to this repo

on: 
  push:
    branches: 
       - main


jobs:
  build:
     runs-on: ubuntu-latest

     steps:
       - name: Checkout
         uses: actions/checkout@v6.0.1

       - name: Docker Setup Buildx
         uses: docker/setup-buildx-action@v3.11.1

       - name: Docker Login
         uses: docker/login-action@v3.6.0
         with: 
              username: ${{ vars.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
              
       - name: Build and push Docker images
         uses: docker/build-push-action@v6.18.0
         with:
              context: express-app
              push: true
              tags: ${{ vars.DOCKERHUB_USERNAME }}/express-app:latest
